{% extends 'base.html' %}
{% block head %}
    <title>Profile Update</title>
    <style>
        /* Additional styling specific to this template */
        .container {
            margin-top: 5px;
        }

        h2 {
            color: #007bff;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 16px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h2>Update Your Profile</h2>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Profile</button>
        </form>
    </div>
    </body>
{% endblock %}
